@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .shadow-text {
    @apply [text-shadow:1px_1px_2px_var(--tw-shadow-color)] shadow-slate-800;
  }

  .btn-generic {
    @apply py-2 px-4 rounded-md font-semibold;
  }

  .btn-red {
    @apply py-2 px-4 bg-rose-500 hover:bg-rose-600 rounded-md text-slate-50 font-semibold shadow-rose-500/40;
  }
  .btn-red-disabled {
    @apply py-2 px-4 bg-rose-500/40 rounded-md text-slate-50 font-semibold;
  }

  .btn-green {
    @apply py-2 px-4 bg-emerald-500 hover:bg-emerald-600 rounded-md text-slate-50 font-semibold shadow-emerald-500/40;
  }
  .btn-green-disabled {
    @apply py-2 px-4 bg-emerald-500/40 rounded-md text-slate-50 font-semibold;
  }

  .ms-container {
    @apply max-w-screen-xl mx-auto px-2;
  }
}
